/* Налаштування фонового зображення */
body {
    background-image: url('index.html'); /* Додати фонове зображення */
    background-size: cover; /* Розтягнути фонове зображення на всю площу */
    background-repeat: no-repeat; /* Заборонити повторення фонового зображення */
    background-position: center; /* Вирівняти фонове зображення по центру */

    
}

/* Стилі для контейнера маркетплейсу */
.marketplace {
    position: absolute; /* Забезпечити абсолютне позиціонування */
    top: 0; /* Розмістити контейнер вгорі */
    left: 0; /* Розмістити контейнер ліворуч */
    padding: 20px; /* Збільшити відступи контейнера */
    border: 10px solid #333; /* Додати рамку */
    border-radius: 10px; /* Заокруглити кути рамки */
}

/* Стилі для зображення в маркетплейсі */
.marketplace img {
    max-width: 40%; /* Забезпечити адаптивність зображення */
    height: auto; /* Зберегти пропорції зображення */
    margin-bottom: 20px; /* Додати відступ після зображення */
    display: block; /* Зробити зображення блочним елементом */
}

/* Стилі для посилань в маркетплейсі */
.marketplace a {
    display: block; /* Зробити посилання блочними елементами */
    margin-bottom: 20px; /* Додати відступ між посиланнями */
    font-size: 20px; /* Змінити розмір шрифту */
    color: #333; /* Встановити колір тексту */
    text-decoration: none; /* Видалити підкреслення посилань */
}

/* Стилі для підсвітки при наведенні на посилання */
.marketplace a:hover {
    color: #ff0000; /* Змінити колір тексту при наведенні */
}