/* Налаштування фонового зображення */
body {
    background-image: url('index.html'); /* Додати фонове зображення */
    background-size: cover; /* Розтягнути фонове зображення на всю площу */
    background-repeat: no-repeat; /* Заборонити повторення фонового зображення */
    background-position: center; /* Вирівняти фонове зображення по центру */
}

/* Стилі для контейнера маркетплейсу */
.marketplace {
    text-align: center; /* Вирівняти текст по центру */
    padding: 50px; /* Додати відступи від країв контейнера */
}

/* Стилі для зображення в маркетплейсі */
.marketplace img {
    max-width: 100%; /* Забезпечити адаптивність зображення */
    height: auto; /* Зберегти пропорції зображення */
    margin-bottom: 20px; /* Додати відступ після зображення */
}

/* Стилі для посилань в маркетплейсі */
.marketplace a {
    display: block; /* Зробити посилання блочними елементами */
    margin-bottom: 20px; /* Додати відступ між посиланнями */
    font-size: 20px; /* Змінити розмір шрифту */
    color: #333; /* Встановити колір тексту */
    text-decoration: none; /* Видалити підкреслення посилань */
}

/* Стилі для підсвітки при наведенні на посилання */
.marketplace a:hover {
    color: #ff0000; /* Змінити колір тексту при наведенні */
}